body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}


.container {
    height: 50vh;
    width: 40vh;
    text-align: center;
    border: 1px solid #8ab4f8;
    border-radius: 8px;
    padding: 8px;
}

.container input {
    height: 10vh;
    width: 100%;
    border: 1px solid #6d6d6f;
    border-radius: 8px;
    cursor: pointer;
}

.wrapper { 
    height: 10vh;
    width: 100%;
    margin-top: 4vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; 
}

.grid-item-symbol , .grid-item-number , .grid-item-equals{
    height: 5vh;
    width: auto;
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.grid-item-symbol {
    background-color: #DADCE0;
}


.grid-item-symbol:hover {
    background-color: #e5eaf0;
    transition:  0.3s ease;
}

.grid-item-number {
    background-color: #f1f3f4;
    
}


.grid-item-number:hover {
    background-color: #ccd0d2;
    transition:  0.3s ease;
    
}

.grid-item-equals {
    background-color: #8ab4f8;
    
}
.grid-item-equals:hover {
    background-color: #649bf5;
    transition:  0.3s ease;
}

